<br>
<div class="jumbotron">
  <h1>Prestige Analytics</h1>
  <p>Event tracking at its finest!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>


<h2> Chris Lee & Michael Pell Productions </h2>
  <em> Global Interprise <em>

